body {
    margin: 50px 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.categories {
    /* background-color: rgba(0, 0, 0, 0.188); */
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

a {
    color: black;
}


.categories a {
    text-decoration: none;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.categories a:hover {
    font-weight: bold;
}

.categories .current{
    text-decoration: underline;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.catalog {
    /* padding-top: 100px; */
    /* margin-left: 300px;
    margin-right: 300px; */
}

.catalog ul {
    display: grid;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    flex-direction: unset;
    gap: 3em;
    padding-top: 2.5em;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

}

.catalog li {
    padding: 2em 1em;
    margin: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    padding: 10px;
    border-radius: 10px;

}

.card:hover {
    /* max-width: 305px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card img {
    border-radius: 7px;
}

.discription {
    font-size: 18px;
    /* margin: 10px; */
}

.price {
    color: grey;
    margin: auto;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 7px;
}

.card button:hover {
    opacity: 0.7;
}

.sort {
    display: flex;
    /* justify-content: space-between; */
    position: absolute;
    right: 350px;
        /* margin-left: 80em; */
    }

select {
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
    height: 2em;
    font-size: 22px;
}

select:focus {
    outline: none;
}

.filters-sort ul {
    margin: 50px;
    padding-left: 10px;
    display: flex;
}

.filters-sort li {
    justify-content: space-between;
}

.filters-sort h2{
    margin: 11px;
}

.filter {
    display: flex;
}