body {
    background-color: black;
    margin: 0;
    width: auto;
    color: #D9CCC5;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* display: flex; */
    margin-left: auto;
    margin-right: auto;
    place-content: space-between;
}

section {
    padding: 5em 2em;
    margin-left: 15em;
    margin-right: 15em;
    /* background-color: brown; */
}





/* -----------NAvbar--------- */

nav {
    /* background-color: black; */
    /* text-align: right; */
    font-size: 1.25em;
    padding: 1.5em;
    text-transform: uppercase;
}

nav a {
    padding: 0 1.5em;
    color: #D9CCC5;
    text-decoration: none;
    /* font-size: 12px; */
}

nav a:hover {
    cursor: pointer;
    color: white;
}

.navbar {
    display: flex;
    /* text-align: right; */
    list-style-type: none;
    float: right;
    margin-right: 11em;
}


/* ----------Categories---------- */

.categories {
    /* background: white; */
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 1.5em 0;
    
}

a {
    text-decoration: none;
    color: #D9CCC5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories a {
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    padding: .2em 1em;
    margin: auto .2em;
    min-width: 3em;
}

.categories .current {
    font-weight: bold;
    color: white;
    border-bottom: .1em solid white;

}

.categories a:hover {
    color: white;
}



/* ----------Path---------- */

.path {
    color: #8C8485;
    text-align: center;
    margin: .75em auto;
    /* padding: 12em auto; */
    /* background-color: bisque; */
}

.path a {
    text-decoration: none;
    font-size: 1.1em;
    padding: .2em .5em;
    color: #8C8485;
}

.path a:hover{
    text-decoration: underline;
}





/* ----------sort option---------- */

.sort{
    padding: 1em;
}

.sort h2 {
    font-weight: normal;
    margin: .25em;
    padding-right: .5em;
}

.sort-btn {
    display: flex;
    justify-content:right;
    /* float: right; */
    height: 2.5em;
    padding: 0 4em;
    /* margin-left: 80em; */
}

select {
    display: block;
    color: #D9CCC5;
    background-color: #0D0D0D;
    border: .1em solid #D9CCC5;
    border-radius: 5px;
    padding: .2em;
    /* height: 2em; */
    font-size: 1.2em;
}




/* ----------catalog---------- */

.catalog {
    padding: 0em 3em;
    /* background-color: wheat; */
}

.catalog ul {
    display: grid;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* display: flex; */
    flex-direction: unset;
    gap: 2em;
    /* padding-top: 2.5em; */

    /* grid-template-columns: 1fr 1fr 1fr; */


    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

}

.catalog li {
    padding: 1em;
    margin: auto;
}



/* ----------Card---------- */

.card {
    max-width: 20em;
    height: auto;
    margin: auto;
    text-align: center;
    padding: .5em;
    border: #8C8485 solid .1em;
    border-radius: 10px;
    background-color: #0D0D0D;
    
}

.card img {
    border-radius: 10px;
    object-fit: cover;
}

.card img:hover {
    cursor: pointer;
}

.card .product-name {
    font-size: 1.6em;
    height: 1.2em;
    font-weight: bold;
    margin-bottom: 50% 0;
    overflow: hidden;
    /* padding: 1.1em 0; */
}


.price {
    color: #D9CCC5;
    /* font-weight: bold; */
    font-size: 1.2em;
    margin-top: -.7em;
}

.card button {
    border: none;
    font-weight: bold;
    outline: 0;
    padding: .7em;
    color: #0D0D0D;
    background-color: #D9CCC5;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    border-radius: 10px;
}

.card button:hover {
    background-color: white;
    color: black;
}


      
.footer{
    padding: 40px 0;
    color: hsl(208, 29%, 91%);
    background-color: #24262b;
  }
  
  .footer .social{
    text-align: center;
    padding-bottom: 3px;
    color: #dee3e9;
  }
  
  .footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid rgb(230, 219, 219);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 6px 8px;
    opacity: 0.75;
  }
  
  .footer .social a:hover{
    opacity: 0.9;
  }
  
  .footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  
  }
  
  .footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  
  }
  
  .footer ul li{
    display: inline-block;
    padding: 0 15px;
  
  }
  
  .footer ul li a:hover{
    opacity: 1;
  }
  
  .footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: rgb(248, 233, 233);
  }