body {
    /* background: #F2F2F2; */
    margin: 0;
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* display: flex; */
    margin: 0 auto;
    place-content: space-between;
}

section {
    padding: 2em;
    margin-left: 15em;
    margin-right: 15em;
    /* background-color: brown; */
}


/* ----------Categories---------- */

.categories {
    background: white;
    text-align: center;
    padding: 1.2em 0;
}

a {
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.categories a {
    text-decoration: none;
    font-size: 1.5em;
    padding: .2em 1em;
}

.categories .current {
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: .2em;
}

.categories a:hover {
    text-decoration: underline;
}

/* ----------Path---------- */

.path {
    /* color: gray; */
    text-align: center;
    margin: .75em auto;
    /* padding: 12em auto; */
    /* background-color: bisque; */
}

.path a {
    text-decoration: none;
    font-size: 1.1em;
    padding: .2em 1em;
    /* color: gray; */
}


/* ----------image---------- */
.product-img {
    width: 50%;
    height: 50%;
    border-radius: .5em;
}

/* ----------Product details---------- */

.product .container {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
}

.product .container .right-col {
    margin: 0 3em auto 5em;
    /* margin: 3em; */
    padding: .5em;
    max-width: 40%;
    background-color: white;
}

.product .container .right-col h1 {
    font-size: 3em;
    width: 90%;
}

.product .price{
    margin-top: -1.5em;
    font-size: 1.5em;
}



/* -----------Add to cart------- */

button {
    border: none;
    outline: 0;
    padding: .7em;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    border-radius: 5px;
}

button:hover {
    opacity: 0.7;
}




.weight {
    display: flex;
    height: 2.5em;
    margin: 2em auto;
}

.weight h2 {
    margin-top: .3em;
    padding-right: .5em;
}

select {
    display: flex;
    border: .1em solid #000;
    border-radius: 5px;
    padding: .2em;
    height: 2em;
    font-size: 1.2em;
}

.product button {
    margin: auto 1em auto 0;
    max-width: 30%;
    height: 2.5em;
    padding: .2em;
}

.atc-btns {
    display: flex;
    margin: 1em auto;
    justify-content: left;

    /* background-color: #4d4d4d; */
}






/* ------------Discription------------ */
.details-btns {
    display: flex;
    margin: 3em auto .2em;
    justify-content: left;

    /* background-color: #4d4d4d; */
}

.details-btns button {
    background-color: white;
    color: black;
    font-size: 1.5em;
    padding: 0;
    font-weight: bold;
    text-align: left;
    margin: auto 3em auto 0;
    width: fit-content;
    max-height: 1.8em;
    /* max-width: 50%;
    height: 2em;
    padding: .2em; */
}

.details-btns .current-btn {
    /* text-decoration: underline .15em; */
    border-bottom: .15em black solid;
    border-radius: 0;
}

.details {
    display: inline-flex;
    font-size: 1.3em;
    text-align: left;
    margin: 1.2em auto;
    max-width: 80%;
    /* padding: 2em; */
}












/* ---------similar products-------- */
.similar .container {
    /* display: flex; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    /* background-color: #4d4d4d; */
}

.similar h1{
    font-size: 2em;
    padding-top: 2em;
    /* background-color: #F2F2F2; */
}

.similar .container a p{
    /* text-decoration: none; */
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 1em;
}

a:hover{
    text-decoration: underline;
}

/* ----------catalog---------- */

.catalog {
    padding: 0 3em;
    /* background-color: wheat; */
}

.catalog ul {
    display: grid;

    /* display: -webkit-box;
    display: -ms-flexbox; */
    /* display: flex; */
    flex-direction: unset;
    gap: 2em;
    /* padding-top: 2.5em; */

    /* grid-template-columns: 1fr 1fr 1fr; */


    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

}



/* ----------Card---------- */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    background-color: white;

}

.card:hover {
    /* max-width: 305px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card img {
    border-radius: 7px;
}

.card h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.price {
    color: #4d4d4d;
    margin: auto;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: -.5em;
}

.card button {
    border: none;
    outline: 0;
    padding: .7em;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2em;
    border-radius: 7px;
}

.card button:hover {
    opacity: 0.7;
}


