* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 20px;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("slider-bg1_2000x_b5c75759-4ec5-43ea-bc05-201dfa6d1be3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.rowclear {
  float: right;
  margin-top: 60px;
  margin-right: -150px;
  display: inline-block;
}





.clearfix::after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0px;
  clear: both;
}

.row {
  max-width: 1180px;
  margin: 0 auto;
}

.logo {
  height: 150px;
  width: auto;
  float: left;
  margin-top: 20px;
  margin-left: -120px;
}

.main-nav {
  float: right;
  margin-top: 60px;
  margin-right: -110px;
}

.main-nav li {
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

.main-nav li a {
  padding: 5px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 100vh;
}

.main-nav li a::hover {
  border-bottom: 2px solid #bf55ec;
}


.main-nava {
  float: right;
  margin-top: 60px;
  margin-right: -110px;
}

.main-nava li {
  display: inline-block;
  list-style: none;
  margin-left: 40px;
}

.main-nava li a {
  padding: 5px 0;
  color:black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: 100vh;
}

.main-nava li a::hover {
  border-bottom: 2px solid #bf55ec;
}

.main-content-header {
  width: 1180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
  font-size: 240%;
  word-spacing: 5px;
  letter-spacing: 3px;
  margin-bottom: -30px;
  text-transform: uppercase;
  font-weight: lighter;
}

.btn {
  display: inline-block;
  padding: 70px 30px;
  font-weight: lighter;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 200px;
  transition: background-color 0.2s, border 0.2s, color 0.2;
  margin-bottom: 850px;
  margin-left: 275px;
}

.btn-full {
  background-color: transparent;
  color: #bf55ec;
  margin-right: -235px;
  border: 1 px solid #bf55ec;
  margin-bottom: -90px;
}

.btn-full::hover {
  background-color: #fff;
}

.btn-nav {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn-nav::hover {
  background-color: #bf55ec;
}

.colorchange {
  animation: colorchangeCakeShop 1s infinite;
}

/* Featured section */
.product .product-row {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}

.product .product-row .box {
  display: inline-flex;
  flex-direction: column;
  width: 25rem;
  background-color: var(--white);
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 3rem;
  margin-right: 3rem;
}

.product .product-row .img img {
  height: 50%;
  width: 65%;
  display: inline-block;
}

.product .product-row .img img:hover {
  transform: scale(1.1);
}

.product .product-row .content {
  margin-bottom: 2rem;
}

.product .product-row .product-content h3 {
  font-size: 1.5rem;
  color: var(--black);
}

.product .product-row .product-content p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--black);
}

.product .product-row .product-content .orderNow {
  height: 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.product .product-row .product-content .orderNow button {
  font-size: 1rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.product .product-row .product-content .orderNow button:hover {
  font-size: 1rem;
}

/* ********gallery section ********* */
.gallery__pic img {
  width: 25%;
  display: inline;
  float: left;
  padding: 30px;
}

.bg-light {
  background: #fafafa !important;
}

.ftco-section {
  padding: 3em 0;
  position: relative;
  width: 45px;
  display: inline;
}

.heading-section {
  position: relative;
}

.heading-section .subheading {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 100px;
  display: block;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.2);
  color: #c8a97e;
  line-height: 1;
  margin-top: 0;
  z-index: -1;
  font-family: "Great Vibes", cursive;
}

.heading-section h2 {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
}

.menu-wrap {
  margin-bottom: 0;
}

.heading-menu h3 {
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 1em;
}

.menus {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border: 1px solid #e6e6e6;
  padding: 30px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline;
}

.menus .text {
  width: calc(100% - 100px);
  padding-left: 20px;
}

.menus .text .one-half {
  width: calc(100% - 80px);
}

.menus .text .one-half h3 {
  font-size: 24px;
  font-weight: 500;
}

.menus .text .one-forth {
  width: 80px;
  text-align: right;
}

.menus .text .one-forth .price {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.2);
  color: #000000;
  font-weight: 600;
  line-height: 1.3;
  transition: all 0.3s ease;
  border-bottom: 2px solid #ff2377;
}

.menus .text p {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.8);
}

.menus .menu-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menus:hover {
  border: 1px solid #ff2377;
  background: linear-gradient(235deg,
      rgba(231, 111, 169, 0.741) 30%,
      rgba(165, 77, 124, 0.763) 67%);
}

.menus:hover .text .one-forth .price {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

.menus:hover .text p {
  color: rgba(0, 0, 0, 0.8);
}


.container {
  max-width: 1870px;
  background-color: rgb(42, 37, 37);
  margin: auto;
  margin-top: -43px;
  margin-bottom: -47px;
}

.social-row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}



.footer {
  padding: 40px 0;
  color: white;
  background-color: #261717;
}

.footer .social {
  text-align: center;
  padding-bottom: 3px;
  color: #D9CCC5;
}

.footer .social a {
  font-size: 24px;
  color: inherit;
  border: 1px solid #D9CCC5;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 6px 8px;
  opacity: 0.75;
}

.footer .social a:hover {
  opacity: 0.9;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;

}

.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;

}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
  color: #D9CCC5;

}

.footer ul li a:hover {
  opacity: 1;
}

.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #8C8485;
}

.collection-type-gallery.gallery-design-grid .slide {
  cursor: pointer;
}

.sqs-gallery-design-autocolumns-slide {
  position: relative;
  display: contents;
}

.sqs-gallery-design-autocolumns-slide img {
  width: 25%;
  display: inline-block;
  transition: opacity .2s;
  opacity: 1;
  height: 103%;
  margin-top: 4px;
  float: left;
}

.collection-type-gallery.gallery-design-grid .slide {
  cursor: pointer;
}

.sqs-gallery-design-autocolumns-slide {
  position: absolute;
  display: contents;
}

.sqs-gallery-design-autocolumns-slide img {
  width: 25%;
  display: inline-block;
  transition: opacity .2s;
  opacity: 1;
  height: 103%;
  margin-top: 4px;
  float: left;

}




@keyframes colorchangeCakeShop {
  0% {
    color: rgb(26, 21, 21);
  }

  25% {
    color: #bf55ec;
  }

  50% {
    color: white;
  }

  100% {
    color: #bf55ec;
  }
}

.mobile-icon {
  display: none;
}

/* ///////////// Responsive Website ////////*/

@media only screen and (max-width: 1180px) {
  .main-content-header {
    width: 100%;
    padding: 0 2%;
  }
}

@media only screen and (max-width: 998px) {
  h1 {
    font-size: 200%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 180%;
  }

  .main-nav {
    display: none;
  }

  .mobile-icon {
    display: inline-block;
    color: #fff;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
  }

  .main-nav {
    float: left;
  }

  .main-nav li {
    display: block;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .btn-full {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 160%;
  }
}


@media(max-width:767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width:574px) {
  .footer-col {
    width: 100%;

  }
}